*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.block1{
    background-color: rgb(154, 255, 197);
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.head{
    /* background-color: aliceblue; */
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    
}
.head div{
    background-color: rgb(249, 70, 118);
    width: 33%;
    height: 200px;
}
.body{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.body .left{
    background-color: antiquewhite;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.left div{
    background-color: chartreuse;
    width: 20%;
    height: 20%;
}
.body .right{
    /* background-color: aliceblue; */
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right div{
    background-color: rgb(14, 23, 207);
    width: 100%;
    height: 130px;
}
.block2{
    background-color: rgb(234, 232, 232);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 0;
    color: aliceblue;
    font-weight: bolder;
}
.header , .footer{
    border: 2px rgb(10, 10, 145) solid;
    background-color: blue;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    padding: 68px 30px;
    
}
.midle{
    /* background-color: chartreuse; */
    display:flex;
    justify-content: space-between;
    gap: 30px;
}
.main{
    width: 80%;
    background-color: rgb(4, 251, 4);
    border: 1px solid rgb(0, 74, 0);
    border-radius: 20px;
    padding: 30px;
    display:flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
   
}
.main p{
    width: 100%;
}
.main div{
    border-radius: 10px;
    border: 2px solid rgb(20, 141, 20);
    background-color: rgb(2, 185, 2);
    width: 257px;
    height: 257px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar{
    width: 20%;
    border: 2px solid rgb(116, 5, 5);
    background-color: red;
    border-radius: 20px;
    padding: 20px;
}
.block3{
    /* background-color: darkgray; */
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.bloklar{
    padding: 30px 40px 40px 25px;
    /* background-color: antiquewhite; */
    border-top: 2px solid black;
}
.redblue{
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content:space-between;
    gap: 40px;
}
.red{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.red div{
    width: 100%;
    height: 250px;
    border: 2px solid black;
    background-color: rgb(250, 76, 189);
}
.blue{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.blue div{
    width: 100%;
    border: 2px solid black;
    background-color: rgb(59, 140, 253);
    width: 100%;
    height: 250px;
}
.yellow {
    background-color: yellow;
    border: 2px solid black;
    width: 100%;
    height: 200px;
    margin-top: 40px
}
p{
    margin: 20px 0;
}
